<h1>Books</h1>

<div>
    <div class="mat-icon-button-wrapper">
        <button mat-button (click)="addBook()">Add Book</button>
        <button mat-button (click)="generateBooks()">Generate books</button>
        <button mat-button (click)="deleteBooks()">Delete books</button>
    </div>

    <!-- <div *ngFor="let book of bookService.getBooks() | async" class='mat-book-list-item'> -->
    <div *ngFor="let book of books" class='mat-book-list-item'>
        <div class='mat-book-info'>
            <!-- <div class="mat-book-name">
                {{ book.name }}
            </div> -->
            <div class="mat-book-author">
                <!-- {{ book.author | author }} -->
                {{ book.author | author }}
            </div>
            <div class="mat-book-name">
                {{ book.name | name }}
            </div>
        </div>
        <div class="mat-icon-button-wrapper">
            <!-- <button mat-icon-button (click)="editBook(book)">
                <mat-icon>edit</mat-icon>
            </button> -->
            <button mat-icon-button (click)="deleteBook(book)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>